<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>list student</title>
  </head>
  <body>
        <table>
          <tr>
            <td>MSSV</td>
            <td>Họ tên</td>
            <td>Email</td>
          </tr>
          <% list.forEach((i)=>{ %>
            <tr>
              <td><%= i.MSSV%></td>
              <td><%= i.Hoten%></td>
              <td><%= i.Email%></td>
            </tr>

          <% }); %>
        </table>
  </body>
</html>
