<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Demo for socket io</title>
  </head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="socket.io/socket.io.js"></script>
  <script type="text/javascript">
    var socket=io("http://localhost:3000")
    socket.on("Server-send-data",function(data){
      $("#noidung").append(data);
    });
    $(document).ready(function(){
      $("#senddata").click(function(){
        socket.emit("Client-send-data","Hello")
      })
    })

  </script>

  <body>
    <div id="senddata">Click
    </div>
    <h2 id="noidung"></h2>
  </body>
</html>
