<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
  <script src="socket.io/socket.io.js"></script>
  <script type="text/javascript" src="js/dosocket.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css" type="text/css" />
  <title>Home</title>
</head>

<body>
  <div class="container">
    <div id="loginform">
      <h3>What your name</h3>
      <input type="text" name="txtName" id="txtname" />
      <input type="button" name="btnSubmit" id="btnSubmit" value="Submit">
    </div>
    <div id="chatform">
      <div id="left">
        <div id="boxTitle">User Online</div>
        <div id="box-content">

        </div>
      </div>
      <div id="right">
        <div id="chat-area">
          Hello <span id="curent-user">Teo</span>
          <input type="button" id="btnLogout" value="Log out">
        </div>
        <div id="list-message">
        </div>
        <div>
          <input type="text" name="txtMessage" id="txtMessage" value="">
          <input type="button" name="btnSend" id="btnSend" value="Send">
        </div>

      </div>
    </div>
  </div>

</body>

</html>
